<section class="section" data-upload-new-files>
    {% include 'forms/upload.twig' %}
</section>


<section class="section" data-files-list>
    Подождите, пожалуйста, загрузка списка файлов...
</section>
